.recipes {

	&__list {

	}

	&__row {
		display: flex;
		flex-direction: row;
		width: 80%;
		align-items: center;
		justify-content: space-between;
		padding: $margin_small;
		border-bottom: 1px solid $accent_color_dark;

		.fa {
			margin: 0px $margin_medium;
			color: $accent_color;

			&:hover {
				color: $accent-color-dark;
			}
		}
	}
}


.quick-add {
	padding: $margin_medium;
	border-radius: $border-radius;
	box-shadow: 0px 0px 5px $shadow-color;
}

.form {
	margin-top: $margin_medium_large;
	display: flex;
	flex-direction: column;
	gap: 1em;
	color: $font-color;

	&__field{
		height: 2em;
		border: none;
		border-bottom: 1px solid $accent_color;
		

		&.text-area {
			border: 1px solid $accent_color;
			height: 5em;
			border-radius: 5px;
		}
	}

	&__submit__btn {
		padding: $margin_medium;
		margin: $margin_small;
		border: none;
		border-radius: $border-radius;
		background-color: $accent-color;
		color: $bg-color;
    

		&:hover{
			background-color: $accent-color-dark;
		}
	}
}