.week {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    .plan {
        flex-direction: row;
        margin: 0%;

        .row {
            justify-content: center;
        }
    }
}

.meal {
    flex: 1 1 12%;
    width: 100%;
    max-width: 160px;
    min-width: 160px;
    height: 250px;
    background-color: $bg-color;
    margin: $margin_medium;
    padding: $margin_medium;
    border-radius: $border-radius;
    box-shadow: 0px 0px 5px $shadow-color;
    
    &.empty{
        box-shadow: none;
        background-color: $shadow-color-light;
    }

    &__date{
        margin: $margin_text_small 0;
        font-size: $text_size;
    }

    &__title {
        font-size: $title_size;
        margin: $margin_medium_large 0;
        height: 20%;
        word-break: break-all;
    }

    &__notes {
        font-size: $text_size;

    }

    &__edit_btn {
        display: none;
    }

}