// Colors
$bg-color: #ffffff;
$shadow-color: #c5c5c5;
$shadow-color-light: #f6f6f6;
$dark-gray: rgb(77, 77, 77);
$gray: #777777;
$font-color: #777777;
$accent-color: #ecc023;
$accent-color-dark: #d1aa1e;

// Font Size
$title_size: 1.3em;
$text_size: 0.8em;

// Spacing
$margin_small: 5px;
$margin_medium: 10px;
$margin_medium_large: 15px;
$margin_text_small: 2px;
$border-radius: 5px;