.text {
	font-size: 1.2em;
	
	&__title {
		font-size: 1.8em;
		color: $accent_color;
	}

	&__small {
		font-size: 0.8em;
	}

	&__error {
		font-size: 0.8em;
		color: $warning;
		font-style: italic;
	}
}